.icon-size {
    font-size: 25px !important;
}

.dec-none {
    text-decoration: none !important;
}

.header-hover-effect:hover {
    color: rgb(203, 186, 186) !important;
    transform: scale(1.15);
}

.response{
    margin: 0 25rem !important;
}

/* @media only screen and (min-width: 991px) {
    .response{
        display: flex;
        justify-content: center;
    }
  } */